<!DOCTYPE html>
<html>
	<head>
		<title>Servo Control</title>
		<link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fthesquid.ink%2Ffree-flat-sample%2F1024%2Frubber-duck-icon.png&f=1&nofb=1&ipt=2e788dab91ab364a218b5fa8df5ba09db3e6955292214831c37e46e36be31a58&ipo=images">
	</head>
	<body>
	
		<h1>Servo Control</h1>
	
		<h3>Turn the servo on and off</h3>
	
		<form action="open">
	
			<label class="switch">
		
				<input type="checkbox" onclick="submit();">
		
			</label>
		
		</form>
		
        <form action="/">
        
			<label class="return">
			
				<button style="margin: 5px;">Main Menu</button>
			
			</label>
        
        </form>
	
	</body>
	

</html>
