<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fthesquid.ink%2Ffree-flat-sample%2F1024%2Frubber-duck-icon.png&f=1&nofb=1&ipt=2e788dab91ab364a218b5fa8df5ba09db3e6955292214831c37e46e36be31a58&ipo=images">
    </head>
    <body>

    <h1 id="default">Choose Your Feature:</h1>

    <form action="close">
        <button style="margin: 5px;">Servo Toggle</button>
    </form>

    <form action="slider">
        <button style="margin: 5px;">Servo Slider</button>
    </form>

    <form action="color">
        <button style="margin: 5px;">Color Ring</button>
    </form>
    
    <h2 id="default">What is this?</h2>
    
    <p id="default">This website was made to showcase the flask library and other skills such as HTML, CSS, and GPIO manipulation.
    There are three things to do: Toggle a servo on and off, change a servo's angle, and changing the color of a rgb light ring.
    Simply click a button and navigate to a page!</p>
    
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpngimg.com%2Fuploads%2Fduck%2Fduck_PNG5003.png&f=1&nofb=1&ipt=70e5b06135cd57cdfe6c30521c4ef084bc7e02c9531f7132654fa154da500538&ipo=images" alt="Insert Duck Here" style="height:300px;">
    
    <h3 id="default">Emotional Support Duck</h3>
 

    </body>
    
    <style>
    
		body {
			
			text-align: center;
            background: #333333; 
			
		}
		
		#default {
			
			color: white;
			font-family: Helvetica;
			
			
		/* Chose not to use it because it's big dumb */
		#button {
			
			background-color: Green;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			
		}
    
    
    </style>
    
</html>

